body {
    background-color: hsl(233, 47%, 7%);
}

.my-card {
    margin: auto;
}

.my-header {
    border: 4px dotted #ecfd01;
    padding: auto;
    margin-top: auto;
}

.row {
    background-color: hsl(244, 38%, 16%);
    border: gold dotted 3px;
    padding: 0;
    align-items: stretch;
    justify-content: space-evenly;
}

#main-heading {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    font-weight: 700;
}

#main-paragraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
}

/* .col {
    color: hsla(0, 0%, 100%, 0.6);
    border: greenyellow dotted 3px;
    padding: 0%;
} */

.right-col {
    color: hsla(0, 0%, 100%, 0.6);
    border: rgb(136, 136, 136) dotted 3px;
    padding: 0%;
}

.left-col {
    height: 100px;
    color: hsla(0, 0%, 100%, 0.6);
    border: rgb(0, 140, 255) dotted 3px;
}

#img-desktop {
    height: auto;
    width: 100%;
}

#img-mobile {
    height: auto;
    width: 100%;
}